<% @books.each do |book| %>
  <section id="author_show_book<%= book.id %>">
    <%= book.title %><br/>
    <% counter = 1 %>
    <% if book.authors.count > 1 %>
      <p>Additional Author(s): <%= book.authors[counter].name %></p>
      <% counter += 1 %>
    <%  end %>
    <%= book.pages %><br/>
    <%= book.year_pub %><br/>
    <img src="<%= book.image %>"><br/>
    <% if book.high_rating(book) %>
      <%= book.high_rating(book).title %><br/>
      <%= book.high_rating(book).rating %><br/>
      <%= book.high_rating(book).user_name %><br/>
    <% else %>
      <p>Book has no ratings</p><br/>
    <% end %>
  </section>
<% end %>

<section>

  <%= link_to "Delete Author", author_path(@author), method: :delete, data: { confirm: "Are you sure?"} %>

</section>
