<%= link_to "Sort by Highest Rated Book", books_path(sort: "high_rating") %>
<%= link_to "Sort by Lowest Rated Book", books_path(sort: "low_rating") %>
<%= link_to "Sort by Most Amount of Pages", books_path(sort: "most_pages") %>
<%= link_to "Sort by Least Amount of Pages", books_path(sort: "least_pages") %>
<%= link_to "Sort by Most Amount of Reviews", books_path(sort: "most_reviews") %>
<%= link_to "Sort by Least Amount of Reviews", books_path(sort: "least_reviews") %>
<%= link_to "Add New Book", new_book_path %>

<section id="highest_rated_books">
  <h1>Highest Rated Books</h1>
  <ol>
    <li><%= link_to "#{@highest_rated_books.first.title}", book_path(@highest_rated_books.first.id) %>, <%= @highest_rated_books.first.average_rating.round(1) %></li>
    <li><%= link_to "#{@highest_rated_books.second.title}", book_path(@highest_rated_books.second.id) %>, <%= @highest_rated_books.second.average_rating.round(1) %></li>
    <li><%= link_to "#{@highest_rated_books.third.title}", book_path(@highest_rated_books.third.id) %>, <%= @highest_rated_books.third.average_rating.round(1) %></li>
  </ol>
</section>
<section id="worst_rated_books">
  <h1>Worst Rated Books</h1>
  <ol>
    <li><%= link_to "#{@worst_rated_books.first.title}", book_path(@worst_rated_books.first.id) %>, <%= @worst_rated_books.first.average_rating.round(1) %></li>
    <li><%= link_to "#{@worst_rated_books.second.title}", book_path(@worst_rated_books.second.id) %>, <%= @worst_rated_books.second.average_rating.round(1) %></li>
    <li><%= link_to "#{@worst_rated_books.third.title}", book_path(@worst_rated_books.third.id) %>, <%= @worst_rated_books.third.average_rating.round(1) %></li>
  </ol>
</section>
<section id="users_with_most_reviews">
  <h1>User With Most Reviews</h1>
  <ul>
    <li><%= link_to "#{@most_ratings.keys[-1]}", "/user/#{@most_ratings.keys[-1]}" %>, <%= @most_ratings.values[-1] %></li>
    <li><%= link_to "#{@most_ratings.keys[-2]}", "/user/#{@most_ratings.keys[-2]}" %>, <%= @most_ratings.values[-2] %></li>
    <li><%= link_to "#{@most_ratings.keys[-3]}", "/user/#{@most_ratings.keys[-3]}" %>, <%= @most_ratings.values[-3] %></li>
  </ul>
</section>
  <% num = 1 %>
<% @books.each do |book| %>
<ul id="info-<%= book.id%>">
  <% %>

  <section class="book_display<% "#{num}"%>">
  <li><%= link_to "#{book.title.titlecase}", book_path(book.id) %></li>
  <li>Author(s): <%= book.authors.pluck(:name).join(", ") %></li>
  <li>Pages: <%= book.pages %></li>
  <li>Year Published: <%= book.year_pub %></li>
  <li>Average Book Rating: <%= book.avg_rating(book) %></li>
  <li>Total Reviews: <%= book.reviews.count %></li>
  <li> <img src= "<%= book.image %>"</li>
</ul>
<% num += 1 %>
</section>
<% end %>
