<% @books.each do |book| %>
<section id="highest_rated_books">
  <h1>Highest Rated Books</h1>
</section>
<section id="worst_rated_books">
<h1>Worst Rated Books</h1>
</section>
<section id="users_with_most_reviews">
<h1>User With Most Reviews</h1>
</section>
<ul id="info-<%= book.id%>">
  <li><%= book.title %></li>
  <li>Average Book Rating: <%= book.avg_rating(book) %></li>
  <li>Total Reviews: <%= book.reviews.count %></li>
  <li>Pages: <%= book.pages %></li>
  <li>Year Published: <%= book.year_pub %></li>
  <li> <img src= "<%= book.image %>"</li>
  <li><%= book.authors.pluck(:name).join(", ") %></li>
</ul>
<% end %>
