<section id="highest_rated_books">
  <h1>Highest Rated Books</h1>
  <ol>
    <li><%= @highest_rated_books.first.title %>, <%= @highest_rated_books.first.average_rating.round(1) %></li>
    <li><%= @highest_rated_books.second.title %>, <%= @highest_rated_books.second.average_rating.round(1) %></li>
    <li><%= @highest_rated_books.third.title %>, <%= @highest_rated_books.third.average_rating.round(1) %></li>
  </ol>
</section>
<section id="worst_rated_books">
  <h1>Worst Rated Books</h1>
  <ol>
    <li><%= @worst_rated_books.first.title %>, <%= @worst_rated_books.first.average_rating.round(1) %></li>
    <li><%= @worst_rated_books.second.title %>, <%= @worst_rated_books.second.average_rating.round(1) %></li>
    <li><%= @worst_rated_books.third.title %>, <%= @worst_rated_books.third.average_rating.round(1) %></li>
  </ol>
</section>
<section id="users_with_most_reviews">
  <h1>User With Most Reviews</h1>
  <ol>
    <li><%= @most_ratings.keys[-1]%>, <%= @most_ratings.values[-1] %></li>
    <li><%= @most_ratings.keys[-2]%>, <%= @most_ratings.values[-2] %></li><li><%= @most_ratings.keys[-3]%>, <%= @most_ratings.values[-3] %></li>
  </ol>
</section>
<% @books.each do |book| %>
<ul id="info-<%= book.id%>">
  <li><%= book.title %></li>
  <li>Average Book Rating: <%= book.avg_rating(book) %></li>
  <li>Total Reviews: <%= book.reviews.count %></li>
  <li>Pages: <%= book.pages %></li>
  <li>Year Published: <%= book.year_pub %></li>
  <li> <img src= "<%= book.image %>"</li>
  <li><%= book.authors.pluck(:name).join(", ") %></li>
</ul>
<% end %>
