<h1>Top Three Reviews</h1>
<section  class="show_top_reviews">
  <% @book.reviews_by_rating(@book, :desc).each do |review| %>
    <ul>
      <li><%= review.title %></li>
      <li>Rating: <%= review.rating %></li>
      <li>Reviewer: <%= link_to "#{review.user_name}", "/user/#{review.user_name}" %></li>
    </ul>
  <% end %>
</section>

<h1>Bottom Three Reviews</h1>
<section class="show_bottom_reviews">
  <% @book.reviews_by_rating(@book, :asc).each do |review| %>
    <ul>
      <li><%= review.title %></li>
      <li>Rating: <%= review.rating %></li>
      <li>Reviewer: <%= link_to "#{review.user_name}", "/user/#{review.user_name}" %></li>
    </ul>
  <% end %>
</section>

<section class="show_avg_rating">
  <h1>Average Rating: <%= @book.avg_rating(@book) %>
</section>

<%= link_to "Add a new Review", new_book_review_path(@book) %>

<section class="book_show_info">
  <% @book.reviews.each do |review| %>
  <section >
    <p>Review title: <%= review.title %>
    <p>Reviewer: <%= link_to "#{review.user_name}", "/user/#{review.user_name}" %></p>
    <p>Review rating: <%= review.rating %>
    <p>Review: <%= review.review_text %>
      </section>
  <% end %>
</section>
