<%= form_for [@book, @review] do |f| %>

<p id="new_book_form"><%= f.label :title %>
<%= f.text_field :title %></p>

<p id="new_book_form"><%= f.label :rating %>
<%= f.number_field :rating %></p>

<p id="new_book_form"><%= f.label :user_name %>
<%= f.text_field :user_name %></p>

<p id="new_book_form"><%= f.label :review_text %>
<%= f.text_field :review_text %></p>

<p id="new_book_form"><%= f.submit %></p>

<% end %>
