<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <nav class="navbar_container">
    <%= link_to "Welcome page", root_path, class: "welcome_link"%>
    <%= link_to "Books", books_path, class: "books_link" %>
  </nav>
  <body>
    <section id="body_of_doc"
    <p class="flash"><%= flash.notice %></p>
    <%= yield %>
    </section>
  </body>
</html>
